body
{
background-color: #778899;
color: #ffffff;
font-family: 'Lato', sans-serif;
font-size 20px;
}
#main
{
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

a.title
{
	color: #ffffff;
	text-decoration: none;
}
#logo
{
	width: 100%;
	float: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 100px;
	letter-spacing: 50px;
	text-align: center;
	padding-top: 350px;
	padding-bottom: 100px;
}
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.button {
    background-color: #414e63;
    border: 2px double #ccc;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin-left: 1255px;
}